@import "../../../styles/_vars.scss";

.navLinks {
  display: grid;
  height: 50px;
  color: black;

  :hover {
    background: $bg-color;
  }

  // .active {
  //   color: $accent-color;
  // }
}

.aLink {
  :visited {
    color: $accent-color;
  }
}

.selected {
  color: $accent-color;

  // :active {
  //   color: inherit;
  // }
}

.navLinks a {
  align-self: center;
  padding-left: 40px;
  line-height: 50px;
}