@import "../../styles/_vars.scss";
.app-wrapper {
  display: grid;
  grid-template-rows: $header-height;
  grid-template-columns:
    minmax(250px, 1fr)
    minmax(500px, 800px)
    minmax(250px, 1fr);
  grid-template-areas:
    "mainHeader mainHeader mainHeader"
    "mainNav mainContent mainConversations";
  column-gap: 10%;
}
.content {
  grid-area: mainContent;
  margin-top: 20px;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 30px 100px 0px white, 0 -30px 100px 0px white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  border-radius: 7px;
  overflow: hidden;
}
