$header-height: 6vh;
$bg-color: rgb(245, 245, 245);
$bg-panel-color: #fff;
$bg-panel-color-light: rgb(230, 230, 230);
// $accent-color: rgb(1, 203, 253);
$accent-color: #03a9f4;
$accent-color-light: rgb(86, 221, 255);
$error-color: #b00020;
