@import "../../styles/_vars.scss";

.inputSearch {
  position: fixed;
  width: 700px;
  border-bottom: 1px solid silver;
  background-color: white;
  z-index: 1;
  .inputWrapper {
    padding-left: 20px;
    input {
      width: 100%;
      line-height: 50px;
      font-size: 16px;
      background-color: $bg-panel-color;
      border: none;
    }
  }
}
