@import "../../../styles/_vars.scss";
.navbar {
  grid-area: mainNav;
  background-color: $bg-panel-color;
  position: fixed;
  width: 250px;
  top: $header-height;
  height: 100%;
  box-shadow: 2px 0 10px -5px rgba(117, 117, 117, 0.8),
    -2px 0 10px -5px rgba(117, 117, 117, 0.8);
}
