@import "../../../styles/_vars.scss";
.wrapper {
  height: 550px;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}
.header {
  display: grid;
  justify-content: center;
  margin: 40px 0 40px 0;
  h1 {
    color: rgb(80, 80, 80);
  }
}
.formInputs {
  height: 40px;
  width: 300px;
  display: grid;
  margin-bottom: 20px;
  input {
    border: none;
    padding-left: 20px;
    line-height: 50px;
    font-size: 16px;
  }
  :focus {
    outline: 0;
    // border: 1px solid $accent-color;
  }
}

.buttonSignIn {
  display: grid;
  justify-content: center;
  margin-top: 10px;
  :focus {
    background: rgb(0, 152, 223);
  }
  button {
    border: none;
    width: 150px;
    height: 50px;
    background: rgb(3, 169, 244);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0 3px 10px #ccc, 3px 3px 10px #ccc, -3px 3px 10px #ccc;
  }
}

.optionsText {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.options {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 20px;
}
.socialIcon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
  border: none;
  background: white;
  display: grid;
  align-content: center;
  justify-content: center;
  box-shadow: 0 3px 10px #ccc, 3px 3px 10px #ccc, -3px 3px 10px #ccc;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
}

.optionsText h4 {
  color: rgb(200, 200, 200);
}
.signUp h4 {
  color: rgb(150, 150, 150);
}
.signUp {
  display: grid;
  justify-content: center;
  margin-top: 60px;
}
