@import "../../styles/_vars.scss";

.wrapper {
  :hover {
    background-color: $bg-panel-color-light;
    cursor: pointer;
  }
  :hover,
  :target {
    .deleteMessage {
      display: block;
    }
  }
}
.wrapperGrid {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.timeSection {
  display: grid;
}

.deleteLink {
  color: rgb(190, 190, 190);
}

.deleteMessage {
  display: none;
  justify-self: end;
}

.time {
  justify-self: end;
  font-size: 13px;
  font-weight: 300;
  align-self: flex-end;
}

.line {
  display: block;
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 1px;
}

.userName {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.userMessage {
  font-size: 15px;
  font-weight: 300;
}
