* {
  padding: 0;
  margin: 0;
}

.app-wrapper {
  display: grid;
  width: 100vw;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas:
    "mainHeader mainHeader mainHeader"
    "mainNav mainContent mainConversations"
}

.header {
  grid-area: mainHeader;
  background-color: coral;

  img {
    height: 100%;
  }
}

.nav {
  grid-area: mainNav;
  background-color: deepskyblue;
}

.content {
  grid-area: mainContent;
  background-color: springgreen;
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-template-columns: 1fr;

  img {
    max-width: 40%;
  }
}

.conversations {
  grid-area: mainConversations;
  background-color: lightpink;
}